{% extends 'main.html' %}
{% load extrasenses_extras %}

{% block content %}

<h1> Тестирование экстрасенсорных способностей</h1>
<div class = 'user'>

    {% if guess_trigger %}

    <h3> Загадайте 2-х значное число и нажмите кнопку "Угадать"</h3>
    <form action='' method = 'POST'>
    {% csrf_token %}
    <input type="submit" value="Угадать">
    </form>

    {% else %}
    <h3>Введите загаданное число для проверки экстрасенсов</h3>
    <form action='' method = 'POST'>
        {% csrf_token %}
        <label for="put_up_number">Загаданное число</label>
        <input type="text" id="put_up_number" name="put_up_number" required>
        <input type="submit" value="Отправить">
    </form>
    {% endif %}

</div>

<div class = 'extrasenses'>
    <h3>Предсказания экстрасенсов</h3>

    {% for key, extrasens in extrasenses.items %}

    <h4>{{extrasens.name}}</h4>

    <p><b>Ответ: {% if extrasenses_answers|dict_value_or_null:key %} {{extrasenses_answers|dict_value_or_null:key }} {% endif %}</b></p>

    {% endfor %}
</div>

{% endblock content %}